* {
    box-sizing: border-box;
  }
  body{
      background-color: teal;
  }
  h1 {
      font-size: 35px;
      font-family: Helvetica;
      text-align: center;
      color: black;
      margin-bottom: 30px;
  }

.item { 
        background-color:lightgrey;
       border: 1px solid black;
       margin: 15px;
       padding: 3px;
       text-align: justify;
       position: relative;
 }

 .item-chicken {
    background-color: orange;
    color: black
}
.item-beef {
    background-color: red;
    color: white;
}
.item-sushi {
    background-color: lightgreen;
    color: black;
}
   h2 {
      font-family: Verdana;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      width: 150px;
      border-left: 1px solid black;
      border-bottom: 1px solid black;;
      float: right; top :0; right: 0; margin: 0;
      position: absolute;
  }
  
    p {
      font-family: Georgia;
    font-size: 20px;
      padding: 15px 5px 0px 5px;
      position: relative;
  }

  .row {
      width: 100%;
  }
  
  /**** Desktop view ****/
  
  @media (min-width: 992px) {
   
    .col-lg-4 {
      width: 33.33%;
      float: left;
      }
  }
  
  /**** Tablet PC view ****/
  @media (min-width: 768px) and (max-width: 991px) {
   
    .col-md-6 {
      width: 50%;
      float: left;
    }
    .col-md-12 {
      width: 100%;
      float: left;
    }
    
  }
  /**** Mobile view ****/
  @media (max-width: 767px)  {
    
    .col-sm-12 {
        float: left;
      width: 100%;
    }
  }